{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_format.css') }} ">
<link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6 text-center border-custom">
                <h1 class="start-heading mb-4">Login</h1><br>               
                    <form action="/login.html" method="post">
                        {% if error_message %}
                        <p class="error_message">{{ error_message }}</p>
                        {% endif %}
                        <div class="form-group {% if error_message %}has-error{% endif %}">
                            <input type="text" id="username" name="username" class="form-control smaller-width" placeholder="Username" required>
                        </div>
                        <div class="form-group password-group {% if error_message %}has-error{% endif %}">
                            <input type="password" id="password"  name="password"  class="form-control smaller-width" placeholder="Password" required>
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </div><br>
                        <button type="submit" class="btn btn-lg btn-primary btn-start font-weight-bold btn-center">Login</button>
                    </form><br>
                <p>Don't have an account? You can register one <a class="underline-link" href="register.html">here!</a></p>
            </div>
        </div>
    </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
        togglePassword.addEventListener('click', () => {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            togglePassword.classList.toggle('bi-eye-slash');
            togglePassword.classList.toggle('bi-eye');
        });
    </script>
</body>
</html>
{% endblock %}